.container .content:hover{
    box-shadow: 0px 0px 11px 1px black;
    transition: 0.2s ease-in;
    transform: scale(101%);   
}

.mycard:hover{
    box-shadow: 4px 4px 20px black;
    transition: 0.2s ease-in;
    transform: scale(103%) translateY(-4px);   
}

/* animation: ; */

.container.left{
    animation: mymove 1.5s 1;
}

@keyframes mymove {
    0% {
      transform: translateX(-600px);
    }
     100% {left: 0px;}
  }

  .container.right{
    animation: myfirst 2s 1;
}

@keyframes myfirst {
    0% {
      transform: translateX(600px);
    }
     100% {right: 0px; }
  }

  /* ***************************************media query***************************** */

@media (max-width: 767.98px) {
    .container.right, .container.left{
        animation: myfirst 2s 1;
    }
    
    @keyframes myfirst {
        0% {
          transform: translateX(600px);
        }
         100% {right: 0px; }
      }

}
